vendor/
composer.lock
node_modules
.phpunit.result.cache
.phpunit.cache
/tools

# Generated test files
tests/test_app/webroot/bootstrap_u_i

# Ignore assets, except some css
webroot/css/*
webroot/font/*
webroot/js/*
!webroot/css/cover.css
!webroot/css/dashboard.css
!webroot/css/signin.css
!webroot/font/bootstrap-icon-sizes.css

# Tool specific files #
#######################
# vim
*~
*.swp
*.swo
# sublime text & textmate
*.sublime-*
*.stTheme.cache
*.tmlanguage.cache
*.tmPreferences.cache
# Eclipse
.settings/*
# JetBrains, aka PHPStorm, IntelliJ IDEA
.idea/*
# NetBeans
nbproject/*
# Visual Studio Code
.vscode
.DS_Store
