parameters:
    level: 7
    checkMissingIterableValueType: false
    bootstrapFiles:
        - tests/bootstrap.php
    paths:
        - src
    ignoreErrors:
        -
            message: "#^Offset 'element' does not exist on array\\('params' \\=\\> mixed\\)\\.$#"
            count: 1
            path: src/View/Helper/FlashHelper.php
