<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	stopOnFailure="false"
    bootstrap="./tests/bootstrap.php"
    >

    <testsuites>
        <testsuite name="BootstrapUI Test Cases">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Cake\TestSuite\Fixture\FixtureInjector"
                  file="./vendor/cakephp/cakephp/src/TestSuite/Fixture/FixtureInjector.php">
            <arguments>
                <object class="\Cake\TestSuite\Fixture\FixtureManager"/>
            </arguments>
        </listener>
    </listeners>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
