<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" stopOnFailure="false" bootstrap="./tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="bootstrap">
            <directory>tests/TestCase/</directory>
            <exclude>tests/TestCase/View/Helper/FormHelper/AbstractFormHelperTest.php</exclude>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
    </extensions>
    <php>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>
